@{
    Layout = "_Layout";
}
<!--Bootstrap Datatable-->
<link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/tables/datatable/dataTables.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/tables/datatable/responsive.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/tables/datatable/buttons.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/tables/datatable/rowGroup.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css">

<link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/forms/select/select2.min.css">
<link href="~/css/jquery.loadingmodal.css" rel="stylesheet" />

<!-- Zero configuration table -->
<section id="basic-datatable">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Factibilidades</h4>
                    <button type="button" id="addType" name="addType" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalAgregarTipo" onclick="ResetModal()">
                        Agregar Estudio
                    </button>
                </div>
                <div class="card-content">
                    <div class="card-body card-dashboard">
                        <div class="table-responsive col-md-12">
                            <table class="table zero-configuration" id="typesTable">
                                <thead>
                                    <tr>
                                        <th>Ticket</th>
                                        <th>Detalle</th>
                                        <th>BW</th>
                                        <th>Cliente</th>
                                        <th>KAM</th>
                                        <th>Fecha Solicitud</th>
                                        <th>Fecha Respuesta</th>
                                        <th>Estado</th>
                                        <th>Sitio Con Cobertura</th>
                                        <th>Sitio Con Cobertura Parcial</th>
                                        <th>Sitio Sin Cobertura</th>
                                        <th>Sitios analizados</th>
                                        <th>Ingeniero</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <!-- Bootstrap datatable -->
    <script src="~/Template/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/jszip.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/pdfmake.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/vfs_fonts.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
    <!-- end Bootstrap datatable -->
    <script src="~/Template/app-assets/vendors/js/forms/select/select2.full.min.js"></script>
    <script src="~/Template/app-assets/js/scripts/forms/form-select2.js"></script>
    <script src="~/Template/app-assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <!-- Mensaje cargando-->
    <script src="~/js/jquery.loadingModal.js"></script>
    <!-- Alertas-->
    <script src="~/js/sweetalert2.all.min.js"></script>
}